<section class="overview">
    <!-- Staking overview -->
    <div id="staking-overview" class="grid panel">
        <div class="grid-cell">
            <div class="grid">
                <!-- ICX staked -->
                <div class="grid-cell text-center border-right">
                    <dl class="metadata">
                        <dt>ICX staked</dt>
                        <dd>2,951,867</dd>
                    </dl>
                </div>

                <!-- Total sICX -->
                <div class="grid-cell text-center border-right">
                    <dl class="metadata">
                        <dt>Total sICX</dt>
                        <dd>58,023,459</dd>
                    </dl>
                </div>
            </div>
        </div>
        <div class="grid-cell">
            <div class="grid">
                <!-- sICX holders -->
                <div class="grid-cell text-center border-right">
                    <dl class="metadata">
                        <dt>sICX holders</dt>
                        <dd>12,420</dd>
                    </dl>
                </div>

                <!-- Fees collected (7D) -->
                <div class="grid-cell text-center">
                    <dl class="metadata">
                        <dt>Fees collected (7D)</dt>
                        <dd>80,000 <span class="label">ICX</span></dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</section>
