<!-- Voting power -->
<section class="boosted-omm">
    <div class="grid">
        <div class="grid-cell">
            <h2>Voting power <span class="bomm-tooltip tooltip">
                <span class="tooltip-item">
                    <img src="assets/img/icon/question.svg" class="tooltip-icon" alt="">
                </span>
                <p class="bomm-tooltip-content tooltip-content">Lock up OMM to participate in governance and delegate votes to ICON validators.<br><br>A longer lock-up time gives you more bOMM voting power. 1 bOMM = 1 OMM locked for 4 years, and the amount decreases over time.</p>
            </span></h2>
        </div>

        <div class="grid-cell">

        </div>
    </div>

    <!-- Panel -->
    <div class="grid panel">
        <div class="grid-cell">
            <div class="grid">
                <div class="grid-cell boosted-container">
                    <!-- Header -->
                    <div class="grid">
                        <!-- Heading -->
                        <div class="grid-cell">
                            <h3>Boosted OMM <span class="label value-bomm-total" *ngIf="shouldShowbOmmBalance()">{{(lockAdjustActive ? userDynamicDelegationWorkingbOmmBalance : userDelegationWorkingbOmmBalance).dp(2) | usFormat: true}} bOMM</span>
                            </h3>
                        </div>
                        <!-- Button -->
                        <div class="grid-cell"[ngStyle]="shouldHideLockSlider() | hide">
                            <p class="text-right {{lockAdjustActive ? 'hide' : ''}}">
                                <a href="javascript:void(0);" class="button" id="boost-adjust" style="margin-top: 0;" (click)="onLockAdjustClick($event)">{{adjustLabel()}}</a>
                            </p>

                            <div class="boost-adjust-actions {{lockAdjustActive ? '' : 'hide'}}">
                                <div class="grid">
                                    <div class="grid-cell">
                                        <div class="grid grid-center">
                                            <div class="grid-cell text-right">
                                                <a href="javascript:void(0);" class="cancel boost-cancel" (click)="onLockAdjustCancelClick($event)">Cancel</a>
                                            </div>
                                            <div class="grid-cell">
                                                <a href="javascript:void(0);" class="button modal-trigger" style="margin-top: 0;" data-modal="modal-boost-confirm" (click)="onConfirmLockOmmClick($event)">Confirm</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <p class="label intro-label {{lockAdjustActive ? 'hide' : ''}}">Lock up OMM to hold voting power on Omm.</p>
                    <div class="threshold locked boost {{shouldHideLockedOmmThreshold() ? 'hide':''}} {{calculatePercentLocked() < 0.5 ? 'right':'left'}}" [ngStyle]="getLeftLockedThresholdPercentStyle()">
                        <dl class="metadata">
                            <dt>Locked</dt>
                        </dl>
                    </div>

                    <!-- Locked OMM slider -->
                    <app-omm-lock-slider
                                            style="display: contents"
                                            [lockAdjustActive]="lockAdjustActive"
                                            [hideSlider]="shouldHideLockSlider()"
                                            (sliderValueUpdate)="handleLockSliderValueUpdate($event)"
                    ></app-omm-lock-slider>

                    <div class="grid grid-center boost-data" [ngStyle]="shouldHideLockSlider() | hide">
                        <div class="grid-cell">
                            <p class="label">
                                <input id="input-boost" class="input-boost {{lockAdjustActive ? '' : 'hide'}}" type="text" name="" [value]="inputLockOmm | usFormat" (keyup)="onLockedOmmInputLostFocus($event)">
                                <span class="omm-locked {{lockAdjustActive ? 'hide' : ''}}">{{(lockAdjustActive ? userDynamicLockedOmmAmount : userLockedOmmBalance) | usFormat}}</span> / {{getLockSliderMax() | usFormat}} OMM</p>
                        </div>
                        <div class="grid-cell text-right">
                            <p class="label text-red boost-message hide">You'll need to pay a 50% fee to unlock OMM early.</p>
                            <p class="label locked-default" [ngStyle]="(isLockAdjustActive() || userLockedOmmBalance == 0) | hide">{{userHasLockedOmm() ? unlockedOnLockedUntilLabel() : "Lock up until"}} {{timestampInMillisecondsToPrettyDate(lockDate())}}</p>
                            <div class="locked-adjust" [ngStyle]="!isLockAdjustActive() | hide" (clickOutside)="dropdownOpen = false">
                                <p>
                                    <span class="label">{{unlockedOnLockedUntilLabel()}} </span> <a class="dropdown time-selector" (click)="onLockedDateDropdownClick()">
                                    <span class="animation-underline locked-selector">{{timestampInMillisecondsToPrettyDate(lockDate())}}</span>
                                </a>
                                </p>
                                <div class="grid dropdown-content locked-selector {{dropdownOpen ? 'active' : ''}}">
                                    <div class="grid-cell">
                                        <ul>
                                            <ng-container *ngFor="let date of getLockedUntilDateOptions();">
                                                <li (click)="onLockUntilDateClick(date)">{{date}}</li>
                                            </ng-container>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <app-voting-power-overview style="display: contents"
                                       [userDelegationWorkingbOmmBalance]="userDelegationWorkingbOmmBalance"
                                       [userDynamicDelegationWorkingbOmmBalance]="userDynamicDelegationWorkingbOmmBalance"
                                       [lockAdjustActive]="lockAdjustActive"
            >

            </app-voting-power-overview>
        </div>
    </div>
</section>
