<table class="list sicx-votes {{_isSIcxVotesActive ? '' : 'hide'}}">
    <thead>
    <tr>
        <th>Rank</th>
        <th>Name<a href="javascript:void(0);" class="mobile-adjust" [ngStyle]="(adjustVotesActiveMobile || !shouldShowUserDelegations()) | hide" (click)="onAdjustVotesClick($event, true)">Edit<img src="assets/img/icon/edit.svg" alt="">
        </a>
            <span class="mobile-adjust-options" [ngStyle]="!adjustVotesActiveMobile | hide">
                <a href="javascript:void(0);" class="text-red mobile-adjust-cancel" (click)="onCancelAdjustVotesClick($event)">Cancel</a> <span class="label"> | </span>
                    <a href="javascript:void(0);" class="modal-trigger adjust-confirm" data-modal="modal-bomm-confirm" (click)="onConfirmClick($event)">
                        <ng-container *ngIf="userAllocatedVotesPercent().eq(1) || userAllocatedVotesPercent().eq(0)">Confirm</ng-container>
                        <span class="tooltip active" *ngIf="!userAllocatedVotesPercent().eq(1) && !userAllocatedVotesPercent().eq(0)">
                            <span class="tooltip-item">Confirm</span>
                            <div class="tooltip-content" [ngStyle]="userAllocatedVotesPercent().lte(1) | hide">
                                <p>You've allocated <span class="text-red">{{userAllocatedVotesPercent() | rndDwnNPerc: 2 : true}}</span> of your votes. Remove {{userAllocatedVotesPercent().minus(1) | rndDwnNPerc: 2}} to continue.</p>
                            </div>
                            <div class="tooltip-content" [ngStyle]="userAllocatedVotesPercent().gte(1) || userAllocatedVotesPercent().eq(0) | hide">
                                <p>You've allocated <span class="text-red">{{userAllocatedVotesPercent() | rndDwnNPerc: 2 : true}}</span> of your votes. Allocate {{userAllocatedVotesPercent().minus(1).abs() | rndDwnNPerc: 2}} to continue.</p>
                            </div>
                        </span>
                </a>
            </span>
        </th>
        <th class="text-right" [ngStyle]="!shouldShowUserDelegations() | hide">
            <a href="javascript:void(0);" class="adjust-votes" [ngStyle]="(adjustVotesActive  || !shouldShowUserDelegations()) | hide" (click)="onAdjustVotesClick($event)">Edit<img src="assets/img/icon/edit.svg" alt=""></a>
            <span class="adjust-options" [ngStyle]="!adjustVotesActive | hide">
                <a href="javascript:void(0);" class="text-red adjust-cancel" (click)="onCancelAdjustVotesClick($event)">Cancel</a> <span class="label"> | </span>
                <a href="javascript:void(0);" class="modal-trigger adjust-confirm" data-modal="modal-bomm-confirm" (click)="onConfirmClick($event)">
                    <ng-container *ngIf="userAllocatedVotesPercent().eq(1) || userAllocatedVotesPercent().eq(0)">Confirm</ng-container>
                    <span class="tooltip active" *ngIf="!userAllocatedVotesPercent().eq(1) && !userAllocatedVotesPercent().eq(0)">
                        <span class="tooltip-item">Confirm</span>
                        <div class="tooltip-content" [ngStyle]="userAllocatedVotesPercent().lte(1) | hide">
                            <p>You've allocated <span class="text-red">{{userAllocatedVotesPercent() | rndDwnNPerc: 2 : true}}</span> of your votes. Remove {{userAllocatedVotesPercent().minus(1) | rndDwnNPerc: 2}} to continue.</p>
                        </div>
                        <div class="tooltip-content" [ngStyle]="userAllocatedVotesPercent().gte(1) || userAllocatedVotesPercent().eq(0) | hide">
                            <p>You've allocated <span class="text-red">{{userAllocatedVotesPercent() | rndDwnNPerc: 2 : true}}</span> of your votes. Allocate {{userAllocatedVotesPercent().minus(1).abs() | rndDwnNPerc: 2}} to continue.</p>
                        </div>
                    </span>
                </a>
            </span>
            <br>Your delegation</th>
        <th class="text-right">sICX delegation</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let prep of preps; let i = index; trackBy: prepAddress">
        <tr intersectionObserver [intersectionDebounce]="0" (visibilityChange)="onVisibilityChanged(i, $event)">
            <td>{{i + 1}}</td>
            <td>
                <!-- Desktop -->
                <div class="desktop-vote">
                    <div class="grid grid-center">
                        <div class="grid-cell">
                            <img [src]="prep.logoUrl" (error)="errorHandlerPrepLogo($event)" alt="">
                        </div>
                        <div class="grid-cell">
                            {{prep.name}}
                            <ng-container *ngIf="isPrepOmmContributor(prep.address)">
                                <br><span class="label contributor">Omm contributor</span>
                            </ng-container>
                            <ng-container *ngIf="isPrepOfferingIncentive(prep.address)">
                                <br><span class="label rewards"><a href="https://docs.omm.finance/money-markets/user-guide/vote-validators" target="_blank">Offers incentives</a></span>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <!-- Mobile -->
                <div class="mobile-vote hide">
                    <div class="grid metadata-group notice">
                        <div class="grid-cell">
                            <div class="grid supply-group">
                                <div class="grid-cell" *ngIf="shouldShowUserDelegations()">
                                    <dl class="metadata">
                                        <dt>Your delegation</dt>
                                        <dd>
                                            <span *ngIf="userSicxDelegation(prep.address).gt(0)" class="input-amount" [ngStyle]="adjustVotesActiveMobile | hide">{{userSicxDelegation(prep.address) | RndDwn | usFormat}} sICX</span>
                                            <span *ngIf="!userSicxDelegation(prep.address).gt(0)" class="input-amount" [ngStyle]="adjustVotesActiveMobile | hide">-</span>

                                            <input type="text" name="" placeholder="15%" class="input-edit"
                                                   [ngStyle]="!adjustVotesActiveMobile | hide"
                                                   [value]="userPrepDelegationPercent(prep.address) | rndDwnNPerc: 2 : true"
                                                   (keyup)="onDelegationInputKeyUp($event, prep.address)"
                                                   (blur)="processDelegationInput($event, prep.address)"
                                                   (paste)="processDelegationInput($event, prep.address)"
                                            >
                                            <br><span class="label"></span>
                                        </dd>
                                    </dl>
                                </div>
                                <div class="grid-cell">
                                    <dl class="metadata">
                                        <dt>sICX delegation</dt>
                                        <dd *ngIf="prepSicxDelegation(prep.address).gt(0)">{{prepSicxDelegation(prep.address) | RndDwn | usFormat}} sICX</dd>
                                        <dd *ngIf="!prepSicxDelegation(prep.address).gt(0)">{{prepSicxDelegation(prep.address) | RndDwn | usFormat}} sICX</dd>
                                    </dl>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END OF Mobile -->
            </td>

            <td *ngIf="shouldShowUserDelegations()">
                <span class="input-amount" [ngStyle]="adjustVotesActive | hide">{{userPrepDelegationPercent(prep.address) | rndDwnNPerc: 2}}</span>
                <input type="text" name="" class="input-edit"
                       [ngStyle]="!adjustVotesActive | hide"
                       placeholder="{{userPrepDelegationPercent(prep.address) | rndDwnNPerc: 2 : true}}"
                       [value]="userPrepDelegationPercent(prep.address) | rndDwnNPerc: 2 : true"
                       (keyup)="onDelegationInputKeyUp($event, prep.address)"
                       (blur)="processDelegationInput($event, prep.address)"
                       (paste)="processDelegationInput($event, prep.address)"
                >
                <br>
                <span *ngIf="userSicxDelegation(prep.address).gt(0)" class="label">{{userSicxDelegation(prep.address) | RndDwn | usFormat}} sICX</span>
                <span *ngIf="!userSicxDelegation(prep.address).gt(0)" class="label">-</span>
            </td>
            <td>{{prepSicxDelegationPercent(prep.address) | rndDwnNPerc: 2}}<br>
                <span *ngIf="prepSicxDelegation(prep.address).gt(0)" class="label">{{prepSicxDelegation(prep.address) | RndDwn | usFormat}} sICX</span>
                <span *ngIf="!prepSicxDelegation(prep.address).gt(0)" class="label">-</span>
            </td>
        </tr>
    </ng-container>
    </tbody>
</table>
