<table class="list sicx-votes {{_isSIcxVotesActive ? '' : 'hide'}}">
    <thead>
    <tr>
        <th>Rank</th>
        <th>Name<a href="javascript:void(0);" class="mobile-adjust {{adjustVotesActiveMobile ? 'hide' : ''}}" (click)="onAdjustVotesClick($event, true)">Edit<img src="assets/img/icon/edit.svg" alt="">
        </a><span class="mobile-adjust-options {{adjustVotesActiveMobile ? '' : 'hide'}}">
                <a href="javascript:void(0);" class="text-red mobile-adjust-cancel" (click)="onAdjustVotesClick($event, true)">Cancel</a> <span class="label"> | </span>
                <a href="javascript:void(0);" class="adjust-confirm">Confirm</a></span></th>
        <th class="text-right">
            <a href="javascript:void(0);" class="adjust-votes {{adjustVotesActive ? 'hide' : ''}}" (click)="onAdjustVotesClick($event)">Edit<img src="assets/img/icon/edit.svg" alt="">
            </a><span class="adjust-options {{adjustVotesActive ? '' : 'hide'}}">
                <a href="javascript:void(0);" class="text-red adjust-cancel" (click)="onAdjustVotesClick($event)">Cancel</a> <span class="label"> | </span>
                <a href="javascript:void(0);" class="adjust-confirm">Confirm</a></span><br>Your delegation</th>
        <th class="text-right">sICX delegation</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>1</td>
        <td>
            <!-- Desktop -->
            <div class="desktop-vote">
                <div class="grid grid-center">
                    <div class="grid-cell">
                        <img src="assets/img/icon/profile.svg" alt="">
                    </div>
                    <div class="grid-cell">
                        ICON Foundation<br><span class="label contributor">Omm contributor</span>
                    </div>
                </div>
            </div>

            <!-- Mobile -->
            <div class="mobile-vote hide">
                <div class="grid metadata-group notice">
                    <div class="grid-cell">
                        <div class="grid supply-group">
                            <div class="grid-cell">
                                <dl class="metadata">
                                    <dt>Your delegation</dt>
                                    <dd><span class="input-amount">15%</span><input type="text" name="" placeholder="15%" class="input-edit hide"><br><span class="label"></span></dd>
                                </dl>
                            </div>
                            <div class="grid-cell">
                                <dl class="metadata">
                                    <dt>sICX delegation</dt>
                                    <dd>2,186 sICX</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>
        <td><span class="input-amount">15%</span><input type="text" name="" placeholder="15%" class="input-edit hide"><br><span class="label">317 bOMM</span></td>
        <td>14.85%<br><span class="label">2,186 sICX</span></td>
    </tr>
    </tbody>
</table>
