<!-- Validators list -->
<section id="p-rep-list">
    <!-- Title -->
    <div class="grid grid-center title filters">
        <div class="grid-cell">
            <h2>Validators</h2>
            <span id="p-rep-tooltip" class="tooltip">
									<span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon"></span>
									<div class="tooltip-content"><p>ICON validators verify blockchain transactions and earn ICX based on the votes they receive. Many of them work within the ICON ecosystem, and some offer voting incentives.</p>
										<br>
										<p><span class="text-bold">sICX holders:</span> Choose where to delegate votes for the sICX in your wallet.</p>
										<br>
										<p><span class="text-bold">bOMM holders:</span> Influence the default delegation for sICX and the amount validators earn from the Omm staking fee.</p>
									</div>
								</span>
            <ul class="toggle">
                <li class="{{isbOmmVotesActive() ? 'active': ''}}" id="toggle-bomm-votes" (click)="onbOmmVotesClick($event)">bOMM votes</li>
                <li class="{{isSIcxVotesActive() ? 'active' : ''}}"  id="toggle-sicx-votes" (click)="onsIcxVotesClick($event)">sICX votes</li>
            </ul>
        </div>
        <div class="grid-cell text-right">
            <input type="text" name="" class="search" placeholder="Search validators"
                   [value]="searchInput"
                   (keyup)="onSearchInputKeyUp($event)"
                   (blur)="processSearchInput($event)"
                   (paste)="processSearchInput($event)"
            >
        </div>
    </div>

    <!-- bOMM votes list -->
    <app-validators-bomm-votes style="display: contents"
                               [isbOmmVotesActive]="isbOmmVotesActive()"
                               [searchSubject$]="searchSubject$"
    >

    </app-validators-bomm-votes>

    <!-- sICX votes list -->
    <app-validators-sicx-votes style="display: contents"
                               [isSIcxVotesActive]="isSIcxVotesActive()"
                               [searchSubject$]="searchSubject$"
    >

    </app-validators-sicx-votes>
</section>
<!-- /Validators list -->
