<div class="grid">
    <div class="grid-cell boost-increase border-top">
        <div class="grid">
            <div class="grid-cell border-right">
                <dl class="metadata">
                    <dt>Delegation ratio</dt>
                    <dd>{{votingPower.gt(0) ? "1 bOMM = " + (votingPower | RndDwn | usFormat) + " ICX" : '-'}}</dd>
                </dl>
            </div>
            <div class="grid-cell border-right" *ngIf="userLoggedIn()">
                <dl class="metadata">
                    <dt>Your delegation power</dt>
                    <dd class="value-voting-power">{{yourVotingPower.gt(0) ? (yourVotingPower | RndDwn | usFormat) + " ICX" : '-'}}</dd>
                </dl>
            </div>

            <div class="grid-cell border-right" *ngIf="!userLoggedIn()">
                <dl class="metadata">
                    <dt>Total voting power</dt>
                    <dd class="value-voting-power">{{delegationbOmmWorkingTotalSupply.gt(0) ? (delegationbOmmWorkingTotalSupply | RndDwn | usFormat) + " bOMM" : '-'}}</dd>
                </dl>
            </div>
            <div class="grid-cell">
                <dl class="metadata">
                    <dt>Total delegation power <span class="total-bomm-tooltip tooltip" *ngIf="userLoggedIn()">
                                    <span class="tooltip-item"><img src="assets/img/icon/question.svg" class="tooltip-icon" alt=""></span>
                                    <p class="total-bomm-tooltip-content tooltip-content">{{delegationbOmmWorkingTotalSupply | RndDwn | usFormat}} bOMM</p>
                                </span></dt>
                    <dd class="value-voting-power-total">{{ommVotingPower.gt(0) ? (ommVotingPower | RndDwn | usFormat) + " ICX" : '-'}}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
