<!-- Content -->
<div class="grid-cell">
    <main class="vote">

        <app-vote-overview style="display: contents"
        >

        </app-vote-overview>

        <!-- Voting power -->
        <app-omm-locking style="display: contents"></app-omm-locking>

        <!-- Proposals -->
        <app-latest-proposals style="display: contents">

        </app-latest-proposals>

        <!-- Validator rewards overivew -->
        <app-validator-rewards-overview style="display: contents"></app-validator-rewards-overview>

        <!-- Validators section -->
        <app-validators style="display: contents"></app-validators>
    </main>
</div>
